@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300 !important;
}

body {
  max-width: 1980px;
  color: black;
}

a {
  color: black;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

:root {
  --white-grad-1: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.bg-white-grad-1 {
  background: var(--white-grad-1);
}
